@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using WeatherTracker.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>Enter a City below to get a forcast.</p>
<label for="Location">Location:</label>
<input type="text" @bind="forcastRequest.Location" name="Location" id="Location"/>
<label for="Days">Number of days to forcast:</label>
<input type="number" @bind="forcastRequest.Days" name="Days" id="Days"/>

<button class="btn btn-primary" @onclick="GetForcast">Get Forcast</button>

@if (forecasts==null)
{
    
}
else if (forecasts!=null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts.forecast.forecastday)
            {
                <tr>
                    <td>@forecast.date</td>
                    <td>@forecast.day.avgtemp_c</td>
                    <td>@forecast.day.avgtemp_f</td>
                    <td>@forecast.day.condition.text</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public ForcastRequest forcastRequest = new ForcastRequest();
    private ForcastResponse forecasts;

    protected override async Task OnInitializedAsync()
    {
        forcastRequest.Days = 5;
        forcastRequest.Location = "Durban";
    }

    public async Task GetForcast()
    {
        forecasts = await ForecastService.GetForecastAsync(forcastRequest);
    }
}
